<h2 >Assign roles to action</h2>
<p>Select an action and assign roles to it by checking off the roles' checkboxes.</p>

<hr />
<div class="row">
    <div class="col-md-8">
        <mvc-controllers on-itemclick="GetRolesByAction(action)" methods="Methods" properties="Properties"></mvc-controllers>
    </div>
    <!-- Table -->
    <div class="col-md-4 ">
        <div class="affix" style="width: 19%">
            <mvc-simpleRoles properties="Properties" on-save='AddRolesToAction(roles)'
                             on-cancel='GetRolesByAction()'></mvc-simpleRoles>
        </div>
    </div>
</div>
