    <!-- Roles directive -->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4>Roles</h4>
        <a href="" ng-click="AddRole()" ng-show="!adding">
            <i class="glyphicon glyphicon-plus"></i>Add New Role
        </a>
    </div>
    <ul class="list-group">
        <li class="list-group-item" style="cursor: pointer" ng-repeat="role in Roles"
            ng-click="ItemClick(role)" ng-class="SetItemClass(role)">
            <div class="row">
                <div class="col-md-7">
                    <div ng-show="role.stat=='view'">
                        <strong>{{role.Name}}</strong>
                    </div>
                    <div ng-show="role.stat=='edit' || role.stat=='new'">
                        <label  >Role Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control"   aria-describedby="basic-addon3" ng-model="role.Name" style="color: black;">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div ng-show="role.stat=='view'">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-sm" ng-click="EditRole(role)">Edit</button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="DeleteRole(role)">Delete</button>
                        </div>
                    </div>
                    <div ng-show="role.stat=='edit' || role.stat=='new'">
                        <div class="btn-group-vertical" role="group">
                            <button type="button" class="btn btn-default btn-sm" ng-click="UpdateRole(role)">Save</button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="CancelUpdate(role)">Cancel </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="panel-footer">
        <button class="btn btn-primary" type="button" ng-click="Save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="Cancel()">Cancel</button>
      <uib-alert type="{{Message.Type}}"  ng-show="Message && Message.Content!=''" close="Message.Content = ''">{{Message.Content}}</uib-alert>
    </div>
</div>