<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4>Roles</h4>
        <p style="word-break: break-all">Assigned to <strong><i>{{Properties.AssignedTo}}</i></strong></p>
    </div>
    <div class="panel-body">
        <div class="col-md-6" ng-repeat="role in Properties.Roles">
            <input type="checkbox" ng-model="role.Selected" />
            {{role.Name}}
        </div>
        <div><a href="" ng-click="SelectAll(true)" class="small">Select All</a> | <a href="" ng-click="SelectAll(false)" class="small">Unselect All</a></div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" type="button" ng-click="Save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="Cancel()">Cancel</button>
      <div class="alert alert-{{Message.Type}}" style="padding: 5px 5px 5px 10px; margin:10px 0px 5px 0px;" role="alert" ng-hide="Message.Content==''">{{Message.Content}}</div>
    </div>
</div>