<h2 class="pull-left">Group multiple actions</h2>

<div class="clearfix"></div>
<hr />
<div class="row">
    <div class="col-md-8">
        <div ng-repeat="ctrl in Controllers">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4>Controller: {{ctrl.ControllerName}}  
                    </h4>
                    <p>&nbsp;&nbsp;{{ctrl.Description}}</p>
                </div>

                <table class="table table-striped" ng-show="ctrl.Actions.length>0">
                    <thead>
                        <tr>
                            <th width="20%">Action Name</th>
                            <th width="50%">Description</th>
                            <th>
                                <input type="checkbox" ng-click="SelectAll($event, ctrl);" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="act in ctrl.Actions">
                            <td>{{act.ActionName}}</td>
                            <td>{{act.Description}}</td>
                            <td>
                                <input type="checkbox" ng-model="act.Selected" /></td>
                        </tr>
                    </tbody>
                </table>
                <p ng-show="ctrl.Actions.length==0">No action in this controller</p>

            </div>
        </div>
    </div>
    <!-- Table -->
    <div class="col-md-4 ">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h4>Action Groups</h4>
                <a href ng-click="AddGroup()"><i class="glyphicon glyphicon-plus"></i>Add New Group</a>
            </div>
            <ul class="list-group">
                <li class="list-group-item" style="cursor: pointer" ng-repeat="group in Groups | orderBy: 'Name'" 
                    ng-click="LoadActionGroup(group)" ng-class="ItemClass(group)">
                    <div ng-show="group.stat=='view'">
                        <strong>{{group.Name}}</strong>
                        <p>{{group.Description}}</p>
                    </div>
                    <div ng-show="group.stat=='edit'">
                        <label for="groupName">Group Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="groupName" aria-describedby="basic-addon3" ng-model="group.Name" style="color: black;">
                        </div>
                        <label for="groupDesc">Group Description</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="groupDesc" aria-describedby="basic-addon3" ng-model="group.Description" style="color: black;">
                        </div>

                    </div>
                    <div ng-show="group.stat=='view'">
                        <span ng-click="EditGroup(group)">Edit</span>
                        <span href ng-click="DeleteGroup(group)">| Delete</span>
                    </div>

                    <span href ng-click="CancelEdit(group)" ng-show="group.stat=='edit'">Save</span>
                </li>
            </ul>
            <div class="panel-footer">
                <button class="btn btn-primary" type="button" ng-click="SaveActionGroup()">Save</button>
                <button class="btn btn-default" type="button" ng-click="LoadActionGroup(selectedGroup)">Cancel</button>
            </div>
        </div>
    </div>
</div>
