<div class="modal-header">
    <h3 class="modal-title">Assign Roles to {{item.controller.ControllerName}}.{{item.action.ActionName}} </h3>
    <p>{{item.action.Description}} </p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6" ng-repeat="role in roles">
            <input type="checkbox"  ng-model="role.checked"/>
            {{role.Name}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>

