    <!-- Users directive -->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4>Users</h4>
        <a href="" ng-click="AddUser()" ng-show="!adding">
            <i class="glyphicon glyphicon-plus"></i>Add New User
        </a>
    </div>
    <ul class="list-group">
        <li class="list-group-item" style="cursor: pointer" ng-repeat="user in Users"
            ng-click="ItemClick(user)" ng-class="SetItemClass(user)">
            <div class="row">
                <div class="col-md-8">
                    <div ng-show="user.stat=='view'">
                        <strong>Email: {{user.Email}}</strong>
                        <p>User Name: {{user.UserName}}</p>
                    </div>
                    <div ng-show="user.stat=='edit' || user.stat=='new'">
                        <label>Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control"
                                   aria-describedby="basic-addon3" ng-model="user.Email" style="color: black;">
                        </div>
                        <label>User Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   aria-describedby="User Name" ng-model="user.UserName" style="color: black;">
                        </div>
                        <label>Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control"
                                   aria-describedby="Password" ng-model="user.Password" style="color: black;">
                        </div>
                        <label>Confirm Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control"
                                   aria-describedby="Confirm Password" ng-model="user.ConfirmPassword" style="color: black;">
                        </div>
                    </div>
                </div>
                 <div class="col-md-1" ng-show="showcheckbox=='true'">
                     <input type="checkbox" ng-model="Selected" />
                 </div>
                <div class="col-md-3">
                    <div ng-show="user.stat=='view'">
                        <div class="btn-group" User="group">
                            <button type="button" class="btn btn-default btn-sm" ng-click="EditUser(user)">Edit</button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="DeleteUser(user)">Delete</button>
                        </div>
                    </div>
                    <div ng-show="user.stat=='edit' || user.stat=='new'">
                        <div class="btn-group-vertical" User="group">
                            <button type="button" class="btn btn-default btn-sm" ng-click="UpdateUser(user)">Save</button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="CancelUpdate(user)">Cancel </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="panel-footer" ng-show ="showfooter == 'true'">
        <button class="btn btn-primary" type="button" ng-click="Save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="Cancel()">Cancel</button>
    </div>
</div>